.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.inputNameTodo {
    width: 400px;
}

.textAreaDescrTodo {
    width: 400px;
}

.wrapTextArea {
    margin-top: 25px;
}

.wrapBtn {
    margin-top: 25px;
}