.header {
    height: 100px;
    background-color: #00caee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 10px;
}