.LiActiveToDo {
    list-style-type: none;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.ctrlsToDo {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.activeToDoName {
    padding-top: 2px;
}